.carrossel-container :global(.slick-slide) {
  transform: scale(0.8) !important;
  transition: all 0.4s ease-in-out !important;
  padding: 40px 0 !important;
}

.carrossel-container :global(.slick-slide img) {
  max-width: 100% !important;
  transition: all 0.4s ease-in-out !important;
}

.carrossel-container :global(.slick-center) {
  transform: scale(1.1) !important;
}

.carrossel-container :global(.slick-next:before) {
  color: #1c243f !important;
}

.carrossel-container :global(.slick-prev:before) {
  color: #1c243f !important;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.modal-image:hover {
  transform: scale(1.05);
}
