@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import 'tailwindcss';

:root {
  font-family: 'Figtree', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: #000;
  overflow-x: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

.slick-next {
  right: 58px !important;
  z-index: 10 !important;
}

.slick-prev {
  left: 16px !important;
  z-index: 10 !important;
}

.slick-next:before {
  font-size: 46px !important;
}

.slick-prev:before {
  font-size: 46px !important;
}

.slick-dots li button:before {
  font-size: 16px !important;
  color: #1c243f !important;
}
